.root {

  .header{
    min-height: 8rem;
    background-color: aliceblue;
    padding: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .content {

    .main {
      order: 2;
      min-width: 100%;
    }

    .nav {
      order: 1;
      min-width: 20rem;
      &> ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }
  }
}