@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 1.6rem;
}
html, body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  flex-flow: row wrap;
}